
body{
	
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	margin:0px;
	position: fixed;
	padding: 0px;
}
#container{
	background-color: #FFFFFF;
	width:100%;
	display: grid;
	grid-template-rows:auto auto 13%;
	height: 100%;
}
a{color: black;text-decoration: none}
/* profile section design*/
#profile-section{
	
	 display: grid;
	 grid-template-columns:30% 70%;
}

#profile
{

	display: grid;
	grid-template-rows:80% 20%;
}
#profile div{
	display: flex;
	justify-content:center;
	align-items:center;
	word-wrap:break-word;
}

#image{
	
	width:37%;background-color: #EEEEEE;
	border-radius:100px;
	height:90%;
}
#image img{
	width:100%;height:100%;border-radius: 100px;
}
#profile-info{
	display: grid;
	grid-template-rows:70% 30%;
}
#username{
	color: black;
	font-size: 25px;
}
#follow{
	
	width: 100%;
	display: grid;
	grid-template-columns:50% 50%;
}
#follow div{
	display: flex;
	
	align-items:center;
}
#follow div p{
	margin:10px;
	font-size: 17px;
}
#follow div input{
	padding:15px;
	width:40%;
	border:1px solid black;
	border-radius: 10px;
}
/*repo section design*/

#repo-section{
	background-color: white;
	overflow-y:auto; 
	margin:20px;justify-content:center;
	display: flex;
	flex-wrap:wrap;

}
.repo{
	margin-right:30px;
	width:30%;
	height:45%;
	margin-top:10px;margin-bottom: 10px;
	display: grid;
	grid-template-rows:33% 34% 33%;
	border:1px solid black;
}
#repo-name{
	margin:10px;
	display:flex;
	align-items:center;
	color:#428BCA;
	font-size:22px;
	font-weight: 	bold;
}
#description{
	display:flex;
	align-items:center;
	font-size: 16px;
	margin:10px;
}
#language{
	display: flex;
	
	margin:10px;
}
#language div{
	background-color:#428BCA;
	padding:15px;
	display: flex;
	justify-content:center;
	align-items:center;
	color:white;
	font-size: 15px;
	font-weight: bold;
}
/* page section design*/
#page-section{
	display: grid;
	grid-template-columns:auto max-content auto;
}
#page-section div{
	display: flex;
	justify-content:center;
}
#page{
	
	height:40%;
	width:auto;
	border:1px solid black;
	display: flex;
	border-radius: 10px;
}
.inner{
	background-color: white;
	color:#428BCA;
	border:none;
	padding:10px;
	font-size: 17px;
	font-weight: bold;
	cursor: pointer;
	border-right:1px solid black;
	display: flex;
	justify-content:center;
	align-items:center;

}
.inner:hover{
	background-color: #428BCA;
	color:white;
	}
#le,#re{
width:100%;
}
#le button{
	padding:10px;height: 45%;
	margin-right:10px;
	border-radius: 30px;display: flex;justify-content:center;align-items:center;
	border:1px solid #989898;
	color:#989898;cursor: pointer;
	font-size: 16px;font-weight: bold;
	width:25%;background-color: transparent;
}
#le button:hover,#re button:hover{
	color: #428BCA
}

#re button{
padding:10px;height: 45%;
	margin-left:10px;
	border-radius: 30px;display: flex;justify-content:center;align-items:center;
	border:1px solid #989898;
	color:#989898;cursor: pointer;
	font-size: 16px;font-weight: bold;
	width:25%;background-color: transparent;
}
#loadCont{
	width: 100%;
	position: absolute;
	display: flex;
	align-items:center;
	height: 100%;background-color: white;
	justify-content:center;
}
#loader{
	background-color: transparent;
	border:20px solid transparent;
	border-radius: 100px;
	width:100px; 
	height: 100px;
	animation-name:load;
	animation-duration:1s;
	animation-iteration-count:infinite;
}
@keyframes load{
	0%{
		border-left-color:#335383; 
	}
	25%{
		border-top-color:#335383; 
	}
	50%{
		border-right-color:#335383;
	}
	75%{
		border-bottom-color:#335383;
	}
}