
body{
	
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	margin:0px;
	position: fixed;
	padding: 0px;
}
#container{
	background-color: #FFFFFF;
	width:100%;
	display: grid;
	grid-template-rows:auto auto 13%;
	height: 100%;
}
a{color: black;text-decoration: none}
/* profile section design*/
#profile-section{
	
	 display: grid;
	 grid-template-columns:30% 70%;
}

#profile
{

	display: grid;
	grid-template-rows:80% 20%;
}
#profile div{
	display: flex;
	justify-content:center;
	align-items:center;
}
#image{
	
	width:30%;background-color: #EEEEEE;
	border-radius:100px;
	height:90%;
}
#image img{
	width:100%;height:100%;border-radius: 100px;
}
#profile-info{
	
	display: flex;
	align-items:center;
}
#username{
	color: black;
	font-size: 25px;
}

/*repo section design*/
#repo-section{
	background-color: white;
	overflow-y: auto; 
	margin:20px;
	display: flex;
	flex-wrap:wrap;

}
/* page section design*/
#page-section{
	display: flex;
	justify-content:center;
}
#page{
	
	height:40%;
	width:auto;
	border:1px solid black;
	display: flex;
	border-radius: 10px;
}
.inner{
	background-color: white;
	color:#428BCA;
	padding:10px;font-size: 17px;font-weight: bold;
	cursor: pointer;
	border-right:1px solid black;
	display: flex;justify-content:center;align-items:container;

}
.inner:hover{
	background-color: #428BCA;
	color:white;
	}